.donutButton {
display: flex;
width: 50%;
height: auto;
justify-content: left;
align-items: left;
margin: auto;
margin-top: -10px;


}


.donutMultiplier{
display: flex;
width: 50%;
height: auto;
justify-content: left;
align-items: left;
margin: auto;
margin-top: -10px;


}