



.donutButton {
display: flex;
width: 20em;
height: auto;
justify-content: left;
align-items: left;
margin-top: -10px;
}


/* .totalDonutCount {
    display: flex;
          flex-direction: column;
}  */


.MainDonutSection {
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.extras {
    display: flex;

    justify-content: space-evenly;
    align-items: flex-start;

}

.resetSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.donutMultiplier{
display: flex;
width: 25em;
height: auto;;
justify-content: left;
align-items: left;

margin-top: -10px;
}

.autoClicker {
    display: flex;
width: 25em;
height: auto;;
justify-content: left;
align-items: left;

margin-top: -10px;
}

.resetButton{
display: flex;
width: 20em;
height: auto;
justify-content: left;
align-items: left;

margin-top: -10px;
}


.navDrop {
    display: flex;
    justify-content: space-evenly;
    
}