
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    pointer-events: none;
}


.donutButton {
display: flex;
width: 20em;
height: auto;
justify-content: left;
align-items: left;

margin-top: -10px;
}


.donutMultiplier{
display: flex;
width: 15em;
height: auto;;
justify-content: left;
align-items: left;

margin-top: -10px;
}

.resetButton{
display: flex;
width: 20em;
height: auto;
justify-content: left;
align-items: left;

margin-top: -10px;
}